{% extends 'template.html' %}
{% load static%}
{% block title %}Editl - Credenciamento Parecerista{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block editais %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">EDITAL</span>
            </h1>
            <div class="row">
                <div class="col d-flex flex-column text-dark">
                    <div class="mx-auto my-4">                        
                        <img class="img-fluid" src="/static/images/editais/02.png" alt="">                                                
                    </div>
                    <div class="px-4 pb-5 text-justify m-auto" style="max-width: 800px; font-size: 16pt;">
                        <p style="text-indent: 40px;">A Secretaria de Cultura de Nova Friburgo abriu inscrições para o Edital de Credenciamento de Pareceristas para análise e seleção de projetos.</p>
                        <p style="text-indent: 40px;">A chamada pública é voltada para formação de banco de dados de profissionais técnicos, aptos a analisarem projetos inscritos nos editais lançados pela Secretaria de Cultura.</p>
                        <p style="text-indent: 40px;">As inscrições estão abertas e o resultado da habilitação você pode visualizar aqui a partir do dia: xx/xx</p>
                        <p style="text-indent: 40px;">Para participar, o candidato deve ter 18 anos ou mais, ser residente e domiciliado em território brasileiro e comprovar qualificação e atuação profissional na área de cultura há, pelo menos, três anos (consecutivos ou não).</p>
                        <p style="text-indent: 40px;">Os aprovados passarão a fazer parte do banco de credenciados e poderão ser chamados para exercer as atividades de análise e emissão de parecer técnico sobre projetos culturais da Secretaria, no âmbito dos editais de chamada pública com recursos do Fundo Municipal de Cultura, proveniente de Leis Federais ou estaduais e recursos próprios.</p>
                        <p style="text-indent: 40px;">O valor pago a cada parecerista credenciado varia entre R$30 e R$120 por projeto analisado, não podendo ultrapassar o total de R$ 4 mil a cada edital para o qual seja convocado a prestar serviços.</p>
                        <p style="text-indent: 40px;">O edital é válido por 24 meses, a contar do resultado final da chamada, que será publicado a partir do dia xx/xx/xxxx.</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}