{% extends 'cadastro_cultural/base.html' %}
{% load bootstrap5 %}
{% block etapa %}
<div class="row">
    <div class="col d-flex">
        <h2 style="display: inline;">CADASTRO CULTURAL</h2> 
        <a href="{% url 'acc_meus_cadastros_map' id %}" class="btn btn-outline-dark ms-auto my-auto">               
            Voltar
            <i class="fa-solid fa-arrow-rotate-left ms-2"></i> 
        </a>
    </div>
</div>
<h4 class="mb-5">ANEXOS</h4>
<div class="row">
    <div class="col d-flex flex-column pb-5">    
        <div class="div-quem m-auto">
          <form method="POST" class="d-flex flex-column"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col {{success.0}} py-1 text-white text-center mb-2">
                    {{success.1}}
                </div>
            </div>
            <select class="form-select mb-3" onchange="showInput(this.value)">
                <option value="">Escolha um arquivo para anexar</option>                
                {% for f in form %}
                <option value="{{f.name}}">{{f.label}}</option>                
                {% endfor %}
            </select>
            <div id='inputs'>
                {% for f in form %}
                    <div id="{{f.name}}" class="row">
                        <div class="col d-flex flex-column">
                            {{f.label}}
                            {{f}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary mt-3">
                Enviar anexo
            </button>
          </form>
        </div>
    </div>
</div>
<style>
    .quem{
        width: 380px;
    }    
    @media (max-width: 992px){
        .div-quem{            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .quem{
            margin: auto;
        }
    }
    @media (max-width: 470px){
        .quem{
            width: 100%;
        }
    }
    label{
        font-weight: bold;
    }
    ul li{
        list-style: none;
    }
    ul li label{
        font-weight: 400;
    }
</style>
<script>
    last=''
    divs=document.querySelectorAll('#inputs .row')
    // brs=document.querySelectorAll('#inputs div br')
    // inputs=document.querySelectorAll('#inputs div input')
    // labels=document.getElementsByTagName('label')
    // console.log(inputs)
    for (i in divs){
        // divs[i].classList.remove("mb-3");
        // brs[i].remove()
        // labels[i].style.display='none'
        divs[i].style.display='none'
    }
    

    function showInput(value){
        if (last!=''){            
            document.getElementById(last).style.display='none'
        }        
        document.getElementById(value).style.display='block'
        last=value
    }
</script>
{% endblock %}