{% extends 'cadastro_cultural/base.html' %}
{% load bootstrap5 %}
{% block etapa %}
<div class="row">
    <div class="col d-flex">
        <h2 style="display: inline;">CADASTRO CULTURAL</h2> 
        <a href="{% url 'acc_meus_cadastros_map' id %}" class="btn btn-outline-dark ms-auto my-auto">               
            Voltar
            <i class="fa-solid fa-arrow-rotate-left ms-2"></i> 
        </a>
    </div>
</div>
<h4 class="mb-5">ANEXOS</h4>
<div class="row">
    <div class="col d-flex flex-column pb-5">    
        <div class="">
          <form method="POST" class="d-flex flex-column"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col {{success.0}} py-1 text-white text-center mb-2">
                    {{success.1}}
                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex flex-column flex-wrap">
                    {% for i in form %}                  
                    <a onclick="showInput('{{i.name}}')" class="btn {% for l in lista %}{% if i.name == l.0 %}{% if l.1 %}btn-primary{% else %}btn-secondary{% endif %}{% else %}{% endif %}{% endfor %} my-1 w-100">                    
                        {{i.label}}                       
                    </a>
                    {% endfor %}
                    <a onclick="showInput('recibos')" class="btn {{bg_recibos}} text-white my-1 w-100">                    
                        Recibos                     
                    </a>
                </div>
                <div class="col d-flex flex-column">
                    <div id='inputs' class="m-auto">
                        {% for f in form %}
                            <div id="{{f.name}}" class="row">
                                <div class="col d-flex flex-column">
                                    <label for="">{{f.label}}</label>
                                    {{f}}
                                </div>
                            </div>
                        {% endfor %}
                        <div id="recibos" class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex flex-column">                                    
                                    <h5>Lista de enviados</h5>
                                    <ul>
                                        {% for recibo in recibos %}
                                        <li><a href="{{recibo.comprovante.url}}">Anexo {{forloop.counter}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {{form_recibos}}
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-3">
                        Enviar anexo
                    </button>
                </div>
            </div>           
          </form>
        </div>
    </div>
</div>
{% if request.user.is_superuser %}
<div class="row">
    <div class="col">
        <h4 class="mb-4">Log de anexos</h4>
        <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                
                
                <th>Artista</th>
                <th>Anexo</th>
                <th>Arquivo</th>
                <th>Usuário</th>
                <th>Dt. Alteração</th>
            </tr>
        </thead>
        <tbody>
            {% for l in log %}
            <tr>
                <td>
                {% if l.artista.fazedor_cultura %}
                {{l.artista.fazedor_cultura}}
                {% else %}
                {{l.artista.fazedor_cultura_cnpj}}
                {% endif %}
                </td>
                <td>{{l.anexo}}</td>
                <td>{{l.filename}}</td>
                <td>{{l.user_responsavel}}</td>
                <td>{{l.dt_alteration}}</td>
            </tr> 
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endif %}
<style>
    .quem{
        width: 380px;
    }    
    @media (max-width: 992px){
        .div-quem{            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .quem{
            margin: auto;
        }
    }
    @media (max-width: 470px){
        .quem{
            width: 100%;
        }
    }
    label{
        font-weight: bold;
    }
    ul li{
        list-style: none;
    }
    ul li label{
        font-weight: 400;
    }
</style>
<script>
    last=''
    divs=document.querySelectorAll('#inputs .row')
    // brs=document.querySelectorAll('#inputs div br')
    // inputs=document.querySelectorAll('#inputs div input')
    // labels=document.getElementsByTagName('label')
    // console.log(inputs)
    for (i in divs){
        // divs[i].classList.remove("mb-3");
        // brs[i].remove()
        // labels[i].style.display='none'
        divs[i].style.display='none'
    }
    

    function showInput(value){
        if (last!=''){            
            document.getElementById(last).style.display='none'
        }        
        document.getElementById(value).style.display='block'
        last=value
    }
</script>
{% endblock %}