{% extends 'cadastro_cultural/base.html' %}
{% load bootstrap5 %}
{% block etapa %}
<div class="row">
    <div class="col d-flex">
        <h2 style="display: inline;">CADASTRO CULTURAL</h2> 
        <a href="{% url 'acc_meus_cadastros_map' id %}" class="btn btn-outline-dark ms-auto my-auto">               
            Voltar
            <i class="fa-solid fa-arrow-rotate-left ms-2"></i> 
        </a>
    </div>
</div>
<h4 class="mb-5">ANEXOS</h4>
<div class="row">
    <div class="col d-flex flex-column pb-5">    
        <div class="">
          <form method="POST" class="d-flex flex-column"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col {{success.0}} py-1 text-white text-center mb-2">
                    {{success.1}}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p class="text-danger font-weight-bold">O nome do arquivo não deve possuir caracteres especiais!</p>
                    <label for="">Selecione o documento</label>
                    <select onchange="showInput(this.value)" class="form-select" name="" id="documentos">
                        <option value=""></option>
                        {% for i in form %}
                        <option value="{{i.name}}">
                            {% for l in lista %}
                            {% if i.name == l.0 %}
                                {% if l.1 %}
                                [ANEXADO]
                                {% else %}
                                [SEM ANEXO]
                                {% endif %}
                            {% else %}                            
                            {% endif %}
                            {% endfor %}
                            {{i.label}}
                        </option>
                        {% endfor %}
                        <option value="recibos">{{bg_recibos}} Recibos</option>
                    </select>
                </div>
                <div class="col">
                    <div id='inputs' class="m-auto">
                        {% for f in form %}
                            <div id="{{f.name}}" class="row">
                                <div class="col">
                                    <label for="">{{f.label}}</label>
                                    <div class="">
                                        {{f}}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}                        
                        <div id="recibos" class="row">
                            <div class="col d-flex flex-column">
                                <div class="d-flex flex-column">                                    
                                    <h5>Lista de enviados</h5>
                                    <ul>
                                        {% for recibo in recibos %}
                                        <li id="{{recibo.id}}" ><a href="{{recibo.comprovante.url}}">Anexo {{forloop.counter}}</a>
                                        <a onclick="deletarRecibo('{{recibo.id}}')" class="btn text-danger ms-5 me-3">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                            Remover
                                        </a>
                                        </li>
                                        <!-- deletar_recibo -->
                                        {% endfor %}
                                    </ul>
                                </div>
                                {{form_recibos}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" id="inputs-validade">
                    {% for j in validade %}
                    <div id="{{j.name}}" class="row">
                        <div>
                            <label for="">Vencimento do Documento</label>
                            {{j}}
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="row">
                <div class="col-3 d-flex flex-column flex-wrap">
                   
                </div>
                <div class="col d-flex flex-column">
                    
                    <button class="btn btn-primary mt-3">
                        Enviar anexo
                    </button>
                </div>
            </div>           
          </form>
        </div>
    </div>
</div>
{% if request.user.is_superuser %}
<div class="row">
    <div class="col">
        <h4 class="mb-4">Log de anexos</h4>
        <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                
                
                <th>Artista</th>
                <th>Anexo</th>
                <th>Arquivo</th>
                <th>Usuário</th>
                <th>Dt. Alteração</th>
            </tr>
        </thead>
        <tbody>
            {% for l in log %}
            <tr>
                <td>
                {% if l.artista.fazedor_cultura %}
                {{l.artista.fazedor_cultura}}
                {% else %}
                {{l.artista.fazedor_cultura_cnpj}}
                {% endif %}
                </td>
                <td>{{l.anexo}}</td>
                <td>{{l.filename}}</td>
                <td>{{l.user_responsavel}}</td>
                <td>{{l.dt_alteration}}</td>
            </tr> 
                {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endif %}
<style>
    .quem{
        width: 380px;
    }    
    @media (max-width: 992px){
        .div-quem{            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .quem{
            margin: auto;
        }
    }
    @media (max-width: 470px){
        .quem{
            width: 100%;
        }
    }
    label{
        font-weight: bold;
    }
    ul li{
        list-style: none;
    }
    ul li label{
        font-weight: 400;
    }
</style>
<script>
    last=''
    divs=document.querySelectorAll('#inputs .row')
    v_divs=document.querySelectorAll('#inputs-validade .row')
    console.log(divs)
    console.log(v_divs)
    // brs=document.querySelectorAll('#inputs div br')
    // inputs=document.querySelectorAll('#inputs div input')
    // labels=document.getElementsByTagName('label')
    // console.log(inputs)
    for (i in divs){
        // divs[i].classList.remove("mb-3");
        // brs[i].remove()
        // labels[i].style.display='none'
    }
    for(i=0; i<v_divs.length; i++){
         v_divs[i].style.display='none'
    }
    for(i=0; i<divs.length; i++){
        divs[i].style.display='none'
    }

  
    function showInput(value){
        

        console.log(value)
        if (last!=''){ 
            document.getElementById(last).style.display='none'
            if(last != 'portfolio' && last != 'recibos'){
            document.getElementById(last+"_validade").style.display='none'
            }
        }
        document.getElementById(value).style.display='block'
        if(value != 'portfolio' && value != 'recibos'){
        console.log(value)
        document.getElementById(value+"_validade").style.display='block'
        }
        last=value

    }
    function deletarRecibo(id_recibo){
        fetch("http://localhost:8000/acc/meus_cadastros/1d61"+id_recibo+"d9281/anexos/deletar-recibo/", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(function(response) {
            if (response.ok) {
                document.getElementById(id_recibo).remove()
            }
        }).catch(function(error) {
            console.log('Erro ao deletar recibo: ' + error.message)
        });        
    }
</script>
{% endblock %}