{% extends 'cadastro_cultural/base.html' %}
{% block etapa %}
<h2>CADASTRO CULTURAL</h2>
<h4 class="mb-5">Informações complementares/adicionais/opcionais</h4>
    {% if messages %}
        <ul class="messages mb-4 mt-4">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}   
<div class="row">
    <div class="col d-flex flex-column pb-5">    
        <div class="div-quem m-auto">
          <form method="POST">
            {% csrf_token %}
            {{form}}
            <button class="btn btn-primary">
                Finalizar cadastro
            </button>
          </form>
        </div>
    </div>
</div>
<style>
    .quem{
        width: 380px;
    }    
    @media (max-width: 992px){
        .div-quem{            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .quem{
            margin: auto;
        }
    }
    @media (max-width: 470px){
        .quem{
            width: 100%;
        }
    }
    label{
        font-weight: bold;
    }
    ul li{
        list-style: none;
    }
    ul li label{
        font-weight: 400;
    }
</style>
{% endblock %}