{% extends 'cadastro_cultural/base.html' %}
{% load bootstrap5 %}
{% block etapa %}
<h2 class="d-flex px-3">EDITAR DADOS BÁSICOS
    <a href="{% url 'acc_meus_cadastros_map' id %}" class="ms-auto btn btn-outline-dark">
        <i class="fa-solid fa-arrow-rotate-left me-2"></i> 
        Voltar
    </a>
</h2>
<div class="row">    
    <div id="divForm" class="col-8 mx-auto d-flex flex-column pt-5">
        {% if messages %}
        <ul class="messages mb-4">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}        
        <form method="POST" enctype="multipart/form-data" class="col px-5">
        {% csrf_token %}
        <input type="hidden" name="tipo_form" value="{{tipo_form}}">
        {% bootstrap_form form %} 
        
        <button class="btn bg-main text-white px-4">Alterar</button>
        </form>
    </div>    
</div>
<style>
    #msg{
        display: none;
    }
    .messages li{
        list-style: none;
        text-align: center;
    }
    .resize{
        width: 88.88889% !important;
    }
    label{
        font-weight: bold;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}