{% load bootstrap5 %}
<form method="POST" enctype="multipart/form-data" class="col px-5" style="overflow-y: scroll; max-height: 500px;">
{% csrf_token %}
<input type="hidden" name="tipo_form" value="{{tipo_form}}">
{% bootstrap_form form %} 
<label for="id_coletivo" class="mb-3">
    O cadastro é de banda e/ou grupo e/ou companhia?
</label>
<div class="form-check form-switch">
    <input onclick="coletivo(this)" class="form-check-input me-2 rounded-pill" type="checkbox" role="switch" name="" id="id_coletivo">
    <span id="coletivo_resposta" class="form-check-label">Não</span>
    <script>
        function coletivo(e){
            resposta=document.getElementById('coletivo_resposta')
            if(e.checked){
                resposta.style.color='blue'
                resposta.innerText='Sim'
                document.getElementById('msg').style.display='block'
            }else{
                resposta.style.color='gray'
                resposta.innerText='Não'
                document.getElementById('msg').style.display='none'
            }
        }
    </script>
</div>
<div id="msg" class="mt-4">
    <span class="text-danger">Atenção!</span><br>
    <p class="text-justify">
    No caso de contratação de banda e/ou grupo e/ou companhia deverá ser prenchido uma procuração (a ser fornecida pela Secretaria Municipal de Cultura) em que os demais integrantes elegerão um responsável pelo processo no ato da contratação. Esse integrante será o responsável pelo recebimento do valor contratado, ao final da execução do serviço e mediante expedição de nota fiscal de serviço. Todos os integrantes deverão preencher a procuração autorizando o integrante escolhido a responder pelo processo de contratação e acostar cópia legível de seu documento de identificação.
    </p>        
</div>
<style>
    #msg{
        display: none;
    }
</style>
<button class="btn bg-main text-white px-4 mt-4">Enviar</button>
</form>