{% extends 'template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}

{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-0 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">{{request.user.first_name}}</span>
            </h1>
            <div class="row p-3">
                <div class="col text-dark border p-2 bg-dark d-flex"> 
                    <span class="text-light my-auto">
                        MENU DO PERFIL
                    </span>                
                    <a href="{% url 'acc_meu_perfil' %}" class="btn btn-outline-light ms-auto">Meu perfil</a>       
                    <a href="{% url 'acc_mudar_senha' %}" class="btn btn-outline-light ms-2">Alterar dados pessoais</a>
                    <a href="{% url 'acc_mudar_senha' %}" class="btn btn-outline-light ms-2">Alterar senha</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if messages %}
                        <ul class="messages mb-4">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}   
                </div>
            </div>
            <div class="row">
                <div class="col text-dark">    
                    <form method="POST" enctype="multipart/form-data" class="col px-5">
                        {% csrf_token %}                        
                        {% bootstrap_form form %} 
                        <button class="btn btn-primary">Alterar dados</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
<style>
  h5{
    line-height: 0;
    display: inline;
  }
  li{
    list-style: none;
  }
</style>
<script>

</script>
{% endblock %}