{% extends 'template.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}

{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-0 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">{{request.user.first_name}}</span>
            </h1>
            <div class="row p-3">
                <div class="col text-dark border p-2 bg-dark d-flex"> 
                    <span class="text-light my-auto">
                        MENU DO PERFIL
                    </span>                       
                    <a href="{% url 'acc_meu_perfil' %}" class="btn btn-outline-light ms-auto">Meu perfil</a>
                    <a href="{% url 'acc_mudar_senha' %}" class="btn btn-outline-light ms-2">Alterar dados pessoais</a>
                    <a href="{% url 'acc_mudar_senha' %}" class="btn btn-outline-light ms-2">Alterar senha</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if messages %}
                        <ul class="messages mb-4">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}   
                </div>
            </div>
            <div class="row">
                <div class="col p-5 d-flex text-dark">        
                    <form method="POST" class="d-flex flex-column col-8 mx-auto">
                        {% csrf_token %}
                    <p>Informe sua senha antiga por favor, por motivos de segurança, e então informe sua nova senha duas vezes para que possamos verificar se você digitou tudo corretamente.</p>
                    <div class="row">
                        <div class="col-5">
                            <label class="required" for="id_old_password">Senha antiga:</label>
                        <input class="form-control mb-3" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                        <label class="required" for="id_new_password1">Nova senha:</label>
                        <input class="form-control mb-3" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">        
                        <label class="required" for="id_new_password2">Confirmação da nova senha:</label> 
                        <input class="form-control mb-3" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                        <input type="submit" value="Alterar minha senha" class="btn btn-primary">
                        </div>
                        <div class="col d-flex flex-column">
                            <div class="row px-4">
                                <div class="col {{status.0}}">
                                    {{status.1}}
                                </div>
                            </div>
                            <div class="help m-auto"><ul><li>Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li><li>Sua senha precisa conter pelo menos 8 caracteres.</li><li>Sua senha não pode ser uma senha comumente utilizada.</li><li>Sua senha não pode ser inteiramente numérica.</li></ul></div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
  h5{
    line-height: 0;
    display: inline;
  }

</style>
<script>

</script>
{% endblock %}