{% extends 'template.html' %}
{% load static %}
{% block title %}Indicadores{% endblock %}
{% block main %}

<div class="col">

    <div class="main-card mb-3 card">
        <div id="graf_area_atuacao" style="width: 100%; height: 450px;"></div>
    </div> 

	<div class="main-card mb-3 card">
        <div id="graf_fisica_vs_juridica" style="width: 100%; height: 450px;"></div>
    </div> 

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      
      function drawChart() {
        
        let data = google.visualization.arrayToDataTable([
          ['Area de atuação', 'Quantidade'],
            {% for at in area_atuacao_ranking %}
                    ["{{at}}",     {{ at.article_count }}],
            {% endfor %}
        ]);

        let options = {
          title: 'Areas de atuação',
          pieHole: 0.4,
        };

        let chart = new google.visualization.PieChart(document.getElementById('graf_area_atuacao'));
        chart.draw(data, options);

		// --------------------------------- //

		data = google.visualization.arrayToDataTable([
          ['Tipo cadastramento', 'Quantidade'],
            {% for at in fisica_vs_juridica %}
                    ["{{at.nome}}",     {{ at.total }}],
            {% endfor %}
        ]);

        options = {
          title: 'Percentual pessoas físicas e jurídicas',
          pieHole: 0.4,
        };

        chart = new google.visualization.PieChart(document.getElementById('graf_fisica_vs_juridica'));
        chart.draw(data, options);

    }

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);


    
    </script>
{% endblock %}