{% extends 'template.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row bg-white">
    <div class="col d-flex">
        <div class="container text-dark p-5">
            <h1 class="mb-4 text-center">Artigo 25 da Lei nº 8.666 de 21 de Junho de 1993</h1>
            <p>
                <b>Art. 25.</b>  É inexigível a licitação quando houver inviabilidade de competição, em especial:
            </p>
            <p>
                <b>I</b> – para aquisição de materiais, equipamentos, ou gêneros que só possam ser fornecidos por produtor, empresa ou representante comercial exclusivo, vedada a preferência de marca, devendo a comprovação de exclusividade ser feita através de atestado fornecido pelo órgão de registro do comércio do local em que se realizaria a licitação ou a obra ou o serviço, pelo Sindicato, Federação ou Confederação Patronal, ou, ainda, pelas entidades equivalentes;
            </p>
            <p>
                <b>II</b> – para a contratação de serviços técnicos enumerados no art. 13 desta Lei, de natureza singular, com profissionais ou empresas de notória especialização, vedada a inexigibilidade para serviços de publicidade e divulgação;
            </p>
            <p>
                <b>III</b> – para contratação de profissional de qualquer setor artístico, diretamente ou através de empresário exclusivo, desde que consagrado pela crítica especializada ou pela opinião pública.
            </p>
            <ul>
                <li>
                    <b>§ 1º</b> Considera-se de notória especialização o profissional ou empresa cujo conceito no campo de sua especialidade, decorrente de desempenho anterior, estudos, experiências, publicações, organização, aparelhamento, equipe técnica, ou de outros requisitos relacionados com suas atividades, permita inferir que o seu trabalho é essencial e indiscutivelmente o mais adequado à plena satisfação do objeto do contrato.
                </li>                
                <li>
                    <b>§ 2º</b> Na hipótese deste artigo e em qualquer dos casos de dispensa, se comprovado superfaturamento, respondem solidariamente pelo dano causado à Fazenda Pública o fornecedor ou o prestador de serviços e o agente público responsável, sem prejuízo de outras sanções legais cabíveis.
                </li>
            </ul>
        </div>        
    </div>
</div>
<style>
    p{
        text-align: justify;
    }
    li{
        list-style: none;
        margin-top: 10px;
    }
</style>
{% endblock %}