{% extends 'template.html' %}
{% load static%}
{% block title %}Mapeamento Cultural{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">MAPEAMENTO CULTURAL</span>
            </h1>
            <div class="row">
                <div class="col d-flex">                                        
                        <img class="img-fluid m-auto" src="/static/images/mapeamento/botao_cadastro.png" alt="">                    
                </div>
                <div class="col  mx-3">
                    <div class="mx-5 mt-5 d-flex flex-column h-100">
                        <p class="text-justify text-dark" style="text-indent: 20px;">
                            O Mapeamento Cultural de Nova Friburgo é uma plataforma para levantamento de dados para direcionamento das ações de políticas públicas.
                            <!-- <a href="{% url 'lei866' %}" target="_blank" class="ms-3">Lei 866/93 art. 25</a> -->
                        </p>
                        <p class="text-justify text-dark" style="text-indent: 20px;">
                            O fazedor de cultura que estiver com o cadastro completo no sistema estará colaborando com a sua linguagem artística e com a sua região, além de se tornar apto à contratação para eventos públicos, receberá em primeira mão os avisos de Editais e chamadas públicas, poderá participar de consultas feitas pela Secretaria e em breve caso deseje, ter seu perfil aberto para divulgação do trabalho em uma plataforma oficial da cultura de Nova Friburgo.
                        </p>

                        {% if artista %}
                        <a style="width: 100%;" href="{% url 'acc_meus_cadastros' %}" class="btn btn-outline-primary mx-auto mt-4 px-5 py-3">
                            <i class="fa-sharp fa-solid fa-address-card me-1"></i>
                            VISUALIZAR MEUS CADASTROS
                        </a>                        
                        {% else %}
                        <a style="width: 100%;" href="{% url 'cad_cult_etapa1_artista' %}" class="btn btn-outline-primary m-auto mt-4 px-5 py-3">
                            CADASTRE-SE!
                        </a>
                        {% endif %}
                        {% if request.user.is_staff %}
                        <a style="width: 100%;" href="{% url 'mapeamento_listagem' %}" class="btn btn-outline-primary mx-auto mt-4 px-5 py-3">
                            <i class="fa-solid fa-map me-1"></i>
                            ACESSAR SISTEMA DE MAPEAMENTO 
                        </a>
                        {% endif %}
                        </div>                                            
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}