{% extends 'template.html' %}
{% load static%}
{% block title %}Mapeamento Cultural{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">MAPEAMENTO CULTURAL</span>
            </h1>
            <div class="row">
                <div class="col">                                        
                        <img class="img-fluid" src="/static/images/mapeamento/botao_cadastro.png" alt="">                    
                </div>
                <div class="col  mx-3">
                    <div class="mx-5 mt-5 d-flex flex-column h-100">
                        <p class="text-justify text-dark" style="text-indent: 20px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula risus a tristique bibendum. Aenean pretium hendrerit fringilla. Nunc convallis sollicitudin lorem et fringilla. Nunc bibendum urna in odio mattis, ac malesuada justo mattis. Donec lacinia, sapien sed molestie ultrices, est velit faucibus diam, sit amet tristique ex felis vitae arcu.
                            <a href="{% url 'lei866' %}" target="_blank" class="ms-3">Lei 866/93 art. 25</a>
                        </p>
                        <a href="{% url 'cad_cult_etapa1_artista' %}" class="btn btn-primary mx-auto mt-4 px-5 py-3">
                            CADASTRAR
                        </a>
                        </div>                                            
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}