{% extends 'template.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">MEUS CADASTROS</span>
            </h1>
            <div class="row">
                <div class="col text-dark">                                        
                      <h4 class="px-3">Bem vindoooooo, {{request.user.first_name}}!</h4>
                      <div class="px-3 mt-5">
                        {% if messages %}
                        <ul class="messages mb-4">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}   
                        <h3 class="px-5 text-uppercase d-flex ">DETALHES DO CADASTRO
                          <span class="ms-2 my-auto" style="font-size: 14pt; text-transform: lowercase;">(id: {{cadastro.id}})</span>                          
                          <a href="{% url 'cad_cult_anexo' id=cadastro.id tipo=1 %}" class="btn btn-dark  ms-auto">
                            <i class="fa-solid fa-paperclip me-2"></i>
                            Anexos
                          </a>
                          <a href="{% url 'acc_meus_cadastros' %}" class="btn btn-outline-dark  ms-2">
                            <i class="fa-solid fa-arrow-rotate-left me-2"></i> 
                            Voltar
                          </a>
                        </h3>
                        <div class="py-4 px-5">
                            <table class="table">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados Básicos</h5>
                                          <a href="{% url 'acc_editar_map_b' cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>                                                               
                                  <tr>                                                                     
                                    <td scope="row">
                                      {% if cadastro.fazedor_cultura %}
                                      <b>Nome artístico:</b><br>
                                      {{cadastro.fazedor_cultura}}
                                      {% else %}
                                      <b>Razão social:</b><br>
                                      {{cadastro.fazedor_cultura_cnpj}}
                                      {% endif %}
                                    </td>                                    
                                    <td>
                                      {% if cadastro.fazedor_cultura %}
                                      <b>CPF do proponente:</b><br>
                                      <span id="cpf">
                                        {{cadastro.cpf}}
                                      </span>
                                      {% else %}
                                      <b>CNPJ do proponente:</b><br>
                                      <span id="cnpj">
                                        {{cadastro.cnpj}}
                                      </span>
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if cadastro.fazedor_cultura %}
                                      <b>Data de nascimento:</b><br>
                                      {{cadastro.data_nascimento}}
                                      {% else %}
                                      <b>CPF do responsável:</b><br>
                                      <span id="cpf">{{cadastro.cpf_responsavel}}</span>                                      
                                      {% endif %}
                                    </td>
                                    <td colspan="2">
                                      <b>Principal área de atuação</b><br>
                                      {% for i in cadastro.area.all %}
                                      {{i}} <br>
                                      {% endfor %}
                                    </td>
                                  </tr>                                    
                                  <tr>    
                                    <td>
                                      <b>Tipo de contratação:</b><br>
                                      {{cadastro.tipo_contratacao}}                                      
                                    </td>                                                                 
                                    <td scope="row">
                                      <b>Email:</b><br>
                                      {{cadastro.email}}
                                    </td>                                    
                                    <td>
                                      <b>Telefone:</b><br>
                                      <span id="tel">
                                        {{cadastro.telefone}}
                                      </span>
                                    </td>                                    
                                    <td>
                                      <b>Data do cadastro:</b><br>
                                      {{cadastro.dt_inclusao}}
                                    </td>                   
                                  </tr> 
    
                                </tbody>
                              </table>  
                              {% if cadastro.cadastro_completo %}
                              <table class="table">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados para contratação</h5>
                                          <a href="{% url 'acc_editar_map_c' cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>                                                               
                                  <tr>             
                                    <tr>    
                                      <td colspan="4">
                                        <b>Descrição da atividade exercida:</b><br>
                                        {{cadastro.descricao}}
                                      </td>                                                                                                                                     
                                    </tr>                                                         
                                    <td scope="row">
                                      <b>PIS:</b><br>
                                      {{cadastro.pis}}
                                    </td>
                                    <td>
                                      <b>Banco</b><br>
                                      {{cadastro.banco}}                                      
                                    </td>                                    
                                    <td>
                                      <b>Agência:</b><br>                                      
                                        {{cadastro.agencia}}                                      
                                    </td>
                                    <td>
                                      <b>Conta:</b><br>
                                      {{cadastro.n_conta}}
                                    </td>                                    
                                  </tr>                                                                      
                                  </tbody>
                                  </table>
                              {% else %}
                              <div class="row">
                                <div class="col d-flex pt-5">
                                  <a href="{% url 'cad_cult_etapa3' id=cadastro.id tipo=1 %}" class="btn btn-primary mx-auto" style="width: 400px;">
                                    <i class="fa-solid fa-clipboard-list me-2"></i>
                                    Cadastrar dados para contratação
                                  </a>
                                </div>
                              </div>
                              {% endif %}
                              {% if complemento %}
                              <table class="table">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados complementares</h5>
                                          <a href="{% url 'acc_editar_map_cmp' id=cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>  
                                  <tr>
                                    <td>
                                      <b>Status da atividade:</b><br>
                                      <span>{{info.get_status_display}}</span>
                                    </td>
                                  </tr>                                                             
                                  <tr>   
                                    <td>
                                      <b>Quantidade de pessoas que fazem parte da instituição:</b> <br>
                                        Entre {{info.get_qnt_display}} pessoas
                                    </td>
                                  </tr>                                                             
                                  <tr>                                                                                                     
                                    <td>
                                      <b>Áreas culturais de atuação:</b><br>
                                      {% for i in info.area.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                    </td>
                                  </tr>
                                  <tr>    
                                    <td>
                                      <b>Públicos que participam das ações:</b><br>
                                      {% for i in info.publico.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                    </td>                                                                                    
                                  </tr>      
                                  <tr>                                                                                                     
                                    <td>
                                      <b>Enquadramento da instituição/entidade/coletivo/grupo:</b><br>
                                      {% for i in info.enquadramento.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                    </td>
                                  </tr>
                                  <tr>    
                                    <td>
                                      <b>Formar de inserção da atividade artístico-cultural:</b><br>
                                      {% for i in info.forma_atuacao.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                    </td>                                                                                    
                                  </tr>                                                                 
                                  </tbody>
                                  </table>
                              {% else %}
                              
                              <div class="row">
                                <div class="col d-flex pt-5">
                                  <a href="{% url 'cad_cult_etapa2' id=cadastro.id %}" class="btn btn-primary mx-auto" style="width: 400px;">
                                    <i class="fa-solid fa-server me-2"></i>
                                    Cadastrar dados complementares
                                  </a>
                                </div>
                              </div>
                                  {% endif %}
                              <style>
                                table img{
                                  max-height: 150px;
                                  max-width: 150px;
                                  margin-top: 10px;
                                }
                                table tr td{
                                  border-color: white;
                                  padding-bottom: 20px !important;
                                }
                              </style>
                        </div>
                      </div>
                </div>
                <!-- <div class="col  mx-3">
                    <div class="mx-5 mt-5 d-flex flex-column h-100">
                        <p class="text-justify text-dark" style="text-indent: 20px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula risus a tristique bibendum. Aenean pretium hendrerit fringilla. Nunc convallis sollicitudin lorem et fringilla. Nunc bibendum urna in odio mattis, ac malesuada justo mattis. Donec lacinia, sapien sed molestie ultrices, est velit faucibus diam, sit amet tristique ex felis vitae arcu.
                            <a href="{% url 'lei866' %}" target="_blank" class="ms-3">Lei 866/93 art. 25</a>
                        </p>
                        <a href="{% url 'cad_cult_etapa1' %}" class="btn btn-primary mx-auto mt-4 px-5 py-3">
                            CADASTRAR
                        </a>
                        </div>                                            
                </div> -->
            </div>
        </div>        
    </div>
</div>
<style>
  h5{
    line-height: 0;
    display: inline;
  }
  li{
    list-style: none;
  }
</style>
<script>
  function icpf(v){
    v=v.replace(/\D/g,"")                   //Remove tudo o que nao e digito
    v=v.replace(/(\d{3})(\d)/,"$1.$2")      //Coloca um ponto entre o terceiro e o quarto digitos
    v=v.replace(/(\d{3})(\d)/,"$1.$2")      //Coloca um ponto entre o terceiro e o quarto digitos
                                            //de novo (para o segundo bloco de numeros)
    v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")//Coloca um hifen entre o terceiro e o quarto digitos
    return v
  }

  function mascara(o,f){
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
  }

  function execmascara(){
    v_obj.value=v_fun(v_obj.value)
  }
  window.onload = function() {
                        
                        cpf=document.getElementById('cpf').innerText                                 
                        document.getElementById('cpf').innerText=cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/g, "$1.$2.$3-$4");                                      
                        {% if cadastro.tipo_contratacao.id == 2 %}
                        cnpj=document.getElementById('cnpj').innerText                                 
                        document.getElementById('cnpj').innerText=cnpj.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g, "$1.$2.$3/$4-$5");              
                        {% endif %}
                        tel=document.getElementById('tel').innerText                                                                                 
                        document.getElementById('tel').innerText=tel.replace(/(\d{2})(\d{4})(\d{4})/g, "($1) $2-$3");              
                        document.getElementById('tel').innerText=tel.replace(/(\d{2})(\d{5})(\d{4})/g, "($1) $2-$3");              
                    };
</script>
{% endblock %}