{% extends 'template.html' %}
{% load static%}
{% block title %}Mapeamento Cultural{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">MAPEAMENTO CULTURAL</span>
            </h1>
            <div class="row">
                <div class="col text-dark">                                        
                    <h4 class="px-3">Bem vindo, <strong>{{request.user.first_name}}</strong>!</h4>
                    <div class="px-3 mt-5">
                        {% if messages %}
        <ul class="messages mb-4">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}
                        <div class="row">
                            <div class="col d-flex">
                                <h3 style="display: inline;" class="px-5 text-uppercase">MINHAS INSCRIÇÕES</h3>
                                <div class="d-flex ms-auto">     
                                    {% if cpf %}                               
                                    <a href="{% url 'cad_artista_cpf' %}" class="btn bg-main text-white mx-auto mb-auto" style="width: 200px;">
                                        Inscrever-se com CPF
                                    </a>                                
                                    {% endif %}
                                    <a href="{% url 'cad_artista_cnpj' %}" class="ms-1 btn bg-main text-white mx-auto mb-auto" style="width: 200px;">
                                        Inscrever-se com CNPJ
                                    </a>                                                                        
                                </div>
                            </div>
                        </div>
                        <div class="py-4 px-5">
                            <table class="table table-hover">
                                <thead>
                                  <tr>      
                                    <th>Ação</th>                                    
                                    <th scope="col">Nome artístico/fantasia</th>
                                    <th scope="col">Tipo de Inscricão</th>                                    
                                    <th></th>                                                                        
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in cadastros_map_cultural_cpf %}
                                  <tr>  
                                    <td>
                                        <a href="{% url 'acc_meus_cadastros_map' i.id %}" style="text-decoration: none;">
                                            <i class="fa-solid fa-eye me-2"></i>
                                            Visualizar inscrição
                                        </a>
                                    </td>       
                                    <td>
                                        {% if i.fazedor_cultura %}
                                        {{i.fazedor_cultura}}
                                        {% else %}
                                        {{i.fazedor_cultura_cnpj}}
                                        {% endif %}
                                    </td>
                                    <td>CPF</td>                                    
                                    <td>                                        
                                        <!-- <small class="text-secondary">Cadastro incompleto.</small> -->
                                    </td>
                                   
                                  </tr>
                                 {% endfor %}
                                </tbody>  
                                <tbody>
                                    {% for i in cadastros_map_cultural_cnpj %}
                                  <tr> 
                                    <td>
                                        <a href="{% url 'acc_meus_cadastros_map' i.id %}" style="text-decoration: none;">
                                            <i class="fa-solid fa-eye me-2"></i>
                                            Visualizar inscrição
                                        </a>
                                    </td>                                            
                                    <td>
                                        {% if i.fazedor_cultura %}
                                        {{i.fazedor_cultura}}
                                        {% else %}
                                        {{i.fazedor_cultura_cnpj}}
                                        {% endif %}
                                    </td>
                                    <td>CNPJ</td>                                    
                                    <td>
                                        <!-- <small class="text-success">
                                            Cadastro completo!
                                        </small> -->
                                    </td>
                                    
                                  </tr>
                                 {% endfor %}
                                </tbody>                              
                              </table>                                                                
                        </div>                                                    
                        
                    </div>
                </div>                
            </div>
        </div>        
    </div>
</div>
{% endblock %}