{% extends 'template.html' %}
{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/mapeamento.css' %}">
{% endblock %}
{% block mapeamento %}active{% endblock %}
{% block main %}
<div id="banner" class="row">
    <div class="col d-flex">
        <div class="container my-5 pb-5">
            <h1 class="display-4 d-flex mt-3 p-4 mb-3 text-center" style="background-color: #547DCD;">
                <span class="my-auto mx-auto">MAPEAMENTO CULTURAL</span>
            </h1>
            <div class="row">
                <div class="col text-dark">                                        
                      <h4 class="px-3">Bem vindo, {{request.user.first_name}}!</h4>
                      <div class="px-3 mt-5">
                        {% if messages %}
                        <ul class="messages mb-4">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}   
                        <h3 class="px-5 text-uppercase d-flex ">SEU CADASTRO {{tipo}}
                          <!-- <span class="ms-2 my-auto" style="font-size: 14pt; text-transform: lowercase;">(id: {{cadastro.id}})</span>                                                     -->
                          <button class="btn btn-danger ms-auto"
                          data-bs-toggle="modal"
                          data-bs-target="#myModal">
                            <i class="fa-solid fa-trash"
                              data-bs-toggle="tooltip" 
                            data-bs-placement="top"
                            data-bs-target="#myModal"
                            data-bs-title="Excluir cadastro"></i>
                          </button> 
                          <a href="{% url 'cad_cult_anexo' cadastro.id %}" class="btn btn-dark  ms-2">
                            <i class="fa-solid fa-paperclip me-2"></i>
                            Anexos
                          </a>                                  
                          <a href="{% url 'acc_meus_cadastros' %}" class="btn btn-light ms-2" style="border: 1px solid black;">
                            <i class="fa-solid fa-arrow-rotate-left me-2"></i>
                            Voltar
                          </a>           
                        </h3>
                        <div class="py-4 px-5">
                            <table class="table">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados Básicos</h5>
                                          <a href="{% url 'acc_editar_map_b' cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>                                                               
                                  <tr>                                                                     
                                    <td scope="row">
                                      {% if cadastro.fazedor_cultura %}
                                      <b>Nome artístico:</b><br>
                                      {{cadastro.fazedor_cultura}}
                                      {% else %}
                                      <b>Razão social:</b><br>
                                      {{cadastro.fazedor_cultura_cnpj}}
                                      {% endif %}
                                    </td>                                    
                                    <td>
                                      {% if cadastro.fazedor_cultura %}
                                      <b>CPF do proponente:</b><br>
                                      <span id="cpf">
                                        {{usuario.cpf}}
                                      </span>
                                      {% else %}
                                      <b>CNPJ do proponente:</b><br>
                                      <span id="cnpj">
                                        {{cadastro.cnpj}}
                                      </span>
                                      {% endif %}
                                    </td>
                                    <td>
                                      {% if cadastro.fazedor_cultura %}
                                      <b>Data de nascimento:</b><br>
                                      {{usuario.data_nascimento|date:"SHORT_DATE_FORMAT"}}
                                      {% else %}
                                      <b>CPF do responsável:</b><br>
                                      <span id="cpf">{{usuario.cpf}}</span>                                      
                                      {% endif %}
                                    </td>
                                    <td colspan="2">
                                                                     
                                    </td>
                                  </tr>                                    
                                  <tr>    
                                    <td>
                                      <b>Tipo de inscrição:</b><br>
                                      {% if cadastro.tipo_contratacao == 'Contratação por CPF' %}
                                        Inscrição por CPF
                                      {% else %}
                                        Inscrição por CNPJ
                                      {% endif %}
                                    </td>                                                                 
                                    <td scope="row">
                                      <b>Email:</b><br>
                                      {{request.user.email}}
                                    </td>                                    
                                    <td>
                                      <b>Telefone:</b><br>
                                      <span id="tel">
                                        {{cadastro.telefone}}
                                      </span>
                                    </td>                                    
                                    <td>
                                      <b>Data do cadastro:</b><br>
                                      {{cadastro.dt_inclusao|date:"SHORT_DATE_FORMAT"}}
                                    </td>                   
                                  </tr> 
                                  <tr>
                                    <td colspan="4">
                                      <b>Área(s) de atuação</b><br>
                                      {% for i in cadastro.area.all %}
                                      {{i}} <br>
                                      {% endfor %}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>                                
                              {% if complemento %}
                              <table class="table mt-5">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados complementares</h5>
                                          <a href="{% url 'acc_editar_map_cmp' cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>  
                                  <tr>
                                    <td>
                                      <b>Status da atividade:</b><br>
                                      {% if info.get_status_display != '' %}
                                      <span>{{info.get_status_display}}</span>
                                      {% else %}
                                      <i>Complete seu cadastro</i>
                                      {% endif %}
                                    </td>
                                  </tr>   
                                  <tr>    
                                    <td colspan="4">
                                      <b>Descrição da atividade exercida:</b><br>
                                      {% if info.descricao != '' %}
                                      {{info.descricao}}
                                      {% else %}
                                      <i>Complete seu cadastro</i>                                      
                                      {% endif %}
                                    </td>                                                                                                                                     
                                  </tr>  
                                  {% if not cadastro.fazedor_cultura %}  
                                  <tr>    
                                    <td colspan="4">
                                      <b>Endereço da entidade/grupo:</b><br>
                                      {% if info.endereco != '' %}
                                      {{info.endereco}}
                                      {% else %}
                                      <i>Complete seu cadastro</i>                                      
                                      {% endif %}
                                    </td>                                                                                                                                     
                                  </tr> 
                                  {% endif %}
                                  {% if not cadastro.fazedor_cultura %}                                                             
                                  <tr>   
                                    <td>
                                      <b>Quantidade de pessoas que fazem parte da instituição:</b> <br>
                                      {% if info.get_qnt_display != None %}
                                        Entre {{info.get_qnt_display}} pessoas
                                      {% else %}
                                        <i>Complete seu cadastro</i>
                                      {% endif %}
                                    </td>
                                  </tr>                                                             
                                 {% endif %}
                                  <tr>    
                                    <td>
                                      <b>Públicos que participam das ações:</b><br>
                                      {% if info.publico.all|length != 0 %}
                                      {% for i in info.publico.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                      {% else %}
                                        <i>Complete seu cadastro</i>                                      
                                      {% endif %}
                                    </td>                                                                                    
                                  </tr> 
                                  {% if not cadastro.fazedor_cultura %}      
                                  <tr>                                                                                                     
                                    <td>
                                      <b>Enquadramento da instituição/entidade/coletivo/grupo:</b><br>
                                      {% if info.enquadramento.all|length != 0 %}
                                      {% for i in info.enquadramento.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                      {% else %}
                                        <i>Complete seu cadastro</i>                                      
                                      {% endif %}
                                    </td>
                                  </tr>
                                  {% endif %}
                                  <tr>    
                                    <td>
                                      <b>Formar de inserção da atividade artístico-cultural:</b><br>
                                      {% if info.forma_atuacao.all|length != 0 %}
                                      {% for i in info.forma_atuacao.all%}
                                        {{i}} <br>
                                      {% endfor %}
                                      {% else %}
                                      <i>Complete seu cadastro</i>                                      
                                      {% endif %}
                                    </td>                                                                                    
                                  </tr>     
                                  <tr>    
                                    <td>
                                      <b>Redes sociais:</b><br>                                      
                                      <div class="d-flex">                                        
                                        <div>
                                          <div>
                                            <i>Instagram:</i>
                                          </div>
                                          <div>
                                            {% if info.instagram != ''%}
                                            <a href="{{info.instagram}}">{{info.instagram}}</a>
                                            {% else %}
                                            <i>Não informado.</i>
                                            {% endif %}                                            
                                          </div>
                                        </div>                                                                                
                                        <div class="mx-auto">
                                          <div>
                                            <i>Facebook:</i>
                                          </div>
                                          <div>
                                            {% if info.facebook != ''%}
                                            <a href="{{info.facebook}}">{{info.facebook}}</a>
                                            {% else %}
                                            <i>Não informado.</i>
                                            {% endif %}  
                                          </div>
                                        </div>                                        
                                        <div class="mx-auto">
                                          <div>
                                            <i>Youtube:</i>
                                          </div>
                                          <div>
                                            {% if info.youtube != ''%}
                                            <a href="{{info.youtube}}">{{info.youtube}}</a>
                                            {% else %}
                                            <i>Não informado.</i>
                                            {% endif %}  
                                          </div>
                                        </div>                                        
                                      </div>
                                    </td>                                                                                    
                                  </tr>                                                             
                                  </tbody>
                                  </table>
                              {% else %}
                              
                              <div class="row">
                                <div class="col d-flex pt-5">
                                  <a href="{% url 'cad_cult_etapa2' cadastro.id %}" class="btn btn-primary mx-auto" style="width: 400px;">
                                    <i class="fa-solid fa-server me-2"></i>
                                    Cadastrar dados complementares
                                  </a>
                                </div>
                              </div>
                              {% endif %}
                              {% if cadastro.cadastro_completo %}
                              <table class="table">                                
                                <tbody>   
                                  <tr>
                                    <td colspan='4' class="bg-dark text-white">
                                      <div class="row py-0">
                                        <div class="col d-flex py-0">
                                          <h5 class="text-uppercase my-auto pt-2 px-3">Dados para contratação</h5>
                                          <a href="{% url 'acc_editar_map_c' cadastro.id %}" class="btn btn-light ms-auto me-3 mt-2">
                                            <i class="fa-solid fa-pen-to-square me-2"></i>
                                            Editar
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>                                                               
                                  <tr>                                                                                                     
                                    <td scope="row">
                                      <b>PIS:</b><br>
                                      {% if cadastro.pis %}
                                      {{cadastro.pis}}
                                      {% else %}
                                      <i>Complete seu cadastro</i>
                                      {% endif %}
                                    </td>
                                    <td>
                                      <b>Banco</b><br>
                                      {% if cadastro.banco %}
                                      {{cadastro.banco}}   
                                      {% else %}
                                      <i>Complete seu cadastro</i>
                                      {% endif %}                                   
                                    </td>                                    
                                    <td>
                                      <b>Agência:</b><br> 
                                      {% if cadastro.agencia %}                                     
                                      {{cadastro.agencia}}
                                      {% else %}
                                      <i>Complete seu cadastro</i>
                                      {% endif %}                                      
                                    </td>
                                    <td>
                                      <b>Conta:</b><br>
                                      {% if cadastro.n_conta %}
                                      {{cadastro.n_conta}}
                                      {% else %}
                                      <i>Complete seu cadastro</i>
                                      {% endif %}
                                    </td>                                    
                                  </tr>                                                                      
                                  </tbody>
                                  </table>
                              {% else %}
                              <div class="row">
                                <div class="col d-flex pt-5">
                                  <a href="{% url 'cad_cult_etapa3' cadastro.id %}" class="btn btn-primary mx-auto" style="width: 400px;">
                                    <i class="fa-solid fa-clipboard-list me-2"></i>
                                    Cadastrar dados para contratação
                                  </a>
                                </div>
                              </div>
                              {% endif %}
                              <style>
                                table img{
                                  max-height: 150px;
                                  max-width: 150px;
                                  margin-top: 10px;
                                }
                                table tr td{
                                  border-color: white;
                                  padding-bottom: 20px !important;
                                }
                              </style>
                        </div>
                      </div>
                </div>
            </div>
        </div>        
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-radius: 0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" id="exampleModalLabel">
          Você tem certeza?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark">
        Você deseja realmente excluir este cadastro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn border" data-bs-dismiss="modal">Cancelar</button>
        <a href="{% url 'acc_meus_cadastros_map_excluir' cadastro.id %}" class="btn btn-danger">Excluir cadastro</a>
      </div>
    </div>
  </div>
</div>
<style>
  h5{
    line-height: 0;
    display: inline;
  }
  li{
    list-style: none;
  }
</style>
<script>


  function icpf(v){
    v=v.replace(/\D/g,"")                   //Remove tudo o que nao e digito
    v=v.replace(/(\d{3})(\d)/,"$1.$2")      //Coloca um ponto entre o terceiro e o quarto digitos
    v=v.replace(/(\d{3})(\d)/,"$1.$2")      //Coloca um ponto entre o terceiro e o quarto digitos
                                            //de novo (para o segundo bloco de numeros)
    v=v.replace(/(\d{3})(\d{1,2})$/,"$1-$2")//Coloca um hifen entre o terceiro e o quarto digitos
    return v
  }

  function mascara(o,f){
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
  }

  function execmascara(){
    v_obj.value=v_fun(v_obj.value)
  }
  window.onload = function() {
                        
                        cpf=document.getElementById('cpf').innerText                                 
                        document.getElementById('cpf').innerText=cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/g, "$1.$2.$3-$4");                                      
                        {% if cadastro.tipo_contratacao.id == 2 %}
                        cnpj=document.getElementById('cnpj').innerText                                 
                        document.getElementById('cnpj').innerText=cnpj.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g, "$1.$2.$3/$4-$5");              
                        {% endif %}
                        tel=document.getElementById('tel').innerText                                                                                 
                        document.getElementById('tel').innerText=tel.replace(/(\d{2})(\d{4})(\d{4})/g, "($1) $2-$3");              
                        document.getElementById('tel').innerText=tel.replace(/(\d{2})(\d{5})(\d{4})/g, "($1) $2-$3");              
                    };
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}